---
- name: Copier docker-compose.yml sur le server
  template:
    src: ../templates/docker-compose.yml.j2
    dest: "{{ wordpress_project_dir }}/docker-compose.yml"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-docker-compose

- name: Vérifier si le fichier docker-compose.yml est présent et a changé
  stat:
    path: "{{ wordpress_project_dir }}/docker-compose.yml"
  register: docker_compose_file

- name: Arrêter les services si le fichier docker-compose.yml a changé
  become: yes
  shell: docker-compose down
  args:
    chdir: "{{ wordpress_project_dir }}"
  when:
    - docker_compose_file.stat.exists 
    - docker_compose_file.stat.mtime | default(0) > ansible_date_time.epoch | int - 60

- name: Démarrer les services (Mise à jour intelligente)
  become: yes
  shell: docker-compose up -d --remove-orphans
  args:
    chdir: "{{ wordpress_project_dir }}"
  register: docker_compose_output
  changed_when: "'Creating' in docker_compose_output.stderr or 'Recreating' in docker_compose_output.stderr"
