---
- name: Copier docker-compose.yml sur le server
  template:
    src: ../templates/docker-compose.yml.j2
    dest: "{{ wordpress_project_dir }}/docker-compose.yml"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-docker-compose

- name: Forcer le téléchargement des nouvelles images Docker
  shell: docker-compose pull
  args:
    chdir: "{{ wordpress_project_dir }}"
  tags: pull-docker-images

- name: Recréer les conteneurs si une image a changé
  shell: docker-compose up -d --force-recreate --remove-orphans
  args:
    chdir: "{{ wordpress_project_dir }}"
  register: docker_compose_output
  changed_when: "'Creating' in docker_compose_output.stderr or 'Recreating' in docker_compose_output.stderr"
  tags: recreate-containers

- name: Nettoyer uniquement les conteneurs arrêtés
  shell: docker container prune -f
  tags: cleanup-docker
