---
- name: Creation d'un utilisateur '{{ user }}'
  when: user is defined
  user: name={{ user }} comment="Utilisateur Ansible" shell=/bin/zsh

- name: Ajout de la clef ssh
  when: user is defined
  authorized_key:
    user: "{{ user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

- name: Ajout de l'utilisateur '{{ user }}' au groupe 'docker'
  when: user is defined
  user: name={{ user }} groups=docker append=yes