---
- name: Copier docker-compose.yml sur le server
  template:
    src: ../templates/docker-compose.yml.j2
    dest: "{{ wordpress_project_dir }}/docker-compose.yml"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-docker-compose
