---
- name: Copier wp-config.php sur le server
  template:
    src: ../templates/wp-config.php.j2
    dest: "{{ wordpress_project_dir }}/wordpress/wp-config.php"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-wp-config