---
- name: Copier wp-config.php sur le server
  template:
    src: ../templates/wp-config.php.j2
    dest: "{{ wordpress_project_dir }}/wordpress/wp-config.php"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-wp-config

- name: Vérifier l'état du conteneur WordPress
  shell: docker-compose ps -q wordpress
  args:
    chdir: "{{ wordpress_project_dir }}"
  register: wordpress_status
  changed_when: false
  ignore_errors: yes

- name: Demarrer les services WordPress
  shell: docker-compose up -d wordpress
  args:
    chdir: "{{ wordpress_project_dir }}"
  tags: start-wordpress
  when: wordpress_status.stdout == ""