- name: Met à jour les paquets et installe les services nécessaires
  apt: name={{ item }} update_cache=yes state=latest
  with_items:
    - zsh
    - vim
    - htop
    - git
    - docker
    - docker-compose


- name: Test docker installation
  command: docker --version
  register: docker_version
  changed_when: false

- name: Démarrer le daemon Docker via systemd si disponible
  service:
    name: docker
    state: started
    enabled: yes
  become: yes
  when: init_comm.stdout == "systemd"

- name: Lancer dockerd en arrière-plan si pas de systemd
  shell: |
    nohup dockerd --host=unix:///var/run/docker.sock >/var/log/dockerd.log 2>&1 &
  args:
    executable: /bin/bash
  become: yes
  when: init_comm.stdout != "systemd"

- name: Attendre la création du socket Docker
  wait_for:
    path: /var/run/docker.sock
    timeout: 30
  become: yes
