- name: Met à jour les paquets et installe les services nécessaires
  apt: name={{ item }} update_cache=yes state=latest
  with_items:
    - zsh
    - vim
    - htop
    - git
    - docker
    - docker-compose


- name: Test docker installation
  command: docker --version
  register: docker_version
  changed_when: false
