# Ansible group variables for the 'prod' group

env_file: "{{ playbook_dir }}/../.env"

new_user: "{{ lookup('ini', 'NEW_USER type=properties file=' + env_file) }}"
user_ssh_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

# WordPress project configuration
wordpress_project_dir: "{{ lookup('ini', 'WORDPRESS_PROJECT_DIR type=properties file=' + env_file) }}"
wordpress_port: "{{ lookup('ini', 'WORDPRESS_PORT type=properties file=' + env_file) }}"
wordpress_debug: "{{ lookup('ini', 'WORDPRESS_DEBUG type=properties file=' + env_file) }}"

# Database configuration
mysql_db_name: "{{ lookup('ini', 'MYSQL_DB_NAME type=properties file=' + env_file) }}"
mysql_user: "{{ lookup('ini', 'MYSQL_USER type=properties file=' + env_file) }}"
mysql_password: "{{ lookup('ini', 'MYSQL_PASSWORD type=properties file=' + env_file) }}"
phpmyadmin_port: "{{ lookup('ini', 'PHPMYADMIN_PORT type=properties file=' + env_file) }}"

# Infos du site
wp_url: "https://{{ ansible_host }}"
# Attention aux quotes dans le .env, le lookup les récupère parfois.
wp_title: "{{ lookup('ini', 'WP_TITLE type=properties file=' + env_file) }}"

# Admin
wp_admin_user: "{{ lookup('ini', 'WP_ADMIN_USER type=properties file=' + env_file) }}"
wp_admin_password: "{{ lookup('ini', 'WP_ADMIN_PASSWORD type=properties file=' + env_file) }}"
wp_admin_email: "{{ lookup('ini', 'WP_ADMIN_EMAIL type=properties file=' + env_file) }}"

# Utilisateur supplémentaire
wp_user: "{{ lookup('ini', 'WP_USER type=properties file=' + env_file) }}"
wp_user_email: "{{ lookup('ini', 'WP_USER_EMAIL type=properties file=' + env_file) }}"
wp_user_password: "{{ lookup('ini', 'WP_USER_PASSWORD type=properties file=' + env_file) }}"