# Install wordpress site from docker Images
---

- name: Créer l'arborescence du projet
  include_tasks: create-arborescence.yaml

- name: Générer le certificat auto-signé
  include_tasks: certificat.yaml

- name: Déployer les fichiers de configuration Docker Compose, wp-config.php et Nginx
  include_tasks: copie-files.yaml
  tags:
    - copy-docker-compose
    - copy-wp-config
    - copy-nginx-config

- name: Vérifier si le fichier docker-compose.yml a changé
  stat:
    path: "{{ wordpress_project_dir }}/docker-compose.yml"
  register: docker_compose_file

- name: Arrêter les services si le fichier docker-compose.yml a changé
  become: yes
  shell: docker-compose down
  args:
    chdir: "{{ wordpress_project_dir }}"
  when: docker_compose_file.stat.mtime | default(0) > ansible_date_time.epoch | int - 60

- name: Démarrer les services (Mise à jour intelligente)
  become: yes
  shell: docker-compose up -d --remove-orphans
  args:
    chdir: "{{ wordpress_project_dir }}"
  register: docker_compose_output
  changed_when: "'Creating' in docker_compose_output.stderr or 'Recreating' in docker_compose_output.stderr"

- name: Attendre que le site soit accessible en HTTPS
  wait_for:
    host: "{{ ansible_host }}"
    port: 443
    delay: 10
    timeout: 60
  delegate_to: localhost
  become: no

- name: Exécuter l'installation finale du site
  include_tasks: install-website.yaml
  tags: 
    - wait_for_db
    - install_core
    - install-website
    - create_wp_user
