# Install wordpress site from docker Images
---

- name: Créer l'arborescence du projet
  include_tasks: create-arborescence.yaml

- name: Générer le certificat auto-signé
  include_tasks: certificat.yaml

- name: Déployer les fichiers de configuration Docker Compose, wp-config.php et Nginx
  include_tasks: deploy.yaml
  tags:
    - deploy-docker-compose
    - deploy-wp-config
    - deploy-nginx-config

- name: Démarrer les services
  become: yes
  shell: docker-compose up -d --remove-orphans
  args:
    chdir: "{{ wordpress_project_dir }}"

- name: Attendre que le site soit accessible en HTTPS
  wait_for:
    host: "{{ ansible_host }}"
    port: 443
    delay: 10
    timeout: 60
  delegate_to: localhost
  become: no

- name: Exécuter l'installation finale du site
  include_tasks: install-website.yaml
  tags: 
    - install-website
    - create_wp_user
