# Install wordpress site from docker Images
---

- name: Créer le répertoire du projet WordPress
  file:
    path: "{{ wordpress_project_dir }}"
    state: directory
    owner: "{{ new_user }}"
    group: "{{ new_user }}"

- name: Copier le fichier docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ wordpress_project_dir }}/docker-compose.yml"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"

- name: Copier le fichier .env
  template:
    src: files/.env
    dest: "{{ wordpress_project_dir }}/.env"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"

- name: Lancer WordPress avec Docker Compose
  become: yes
  shell: |
    docker-compose -f {{ wordpress_project_dir }}/docker-compose.yml up -d