---
- name: Met à jour les paquets et installe les services nécessaires
  apt: name={{ item }} update_cache=yes state=latest
  with_items:
    - zsh
    - vim
    - htop
    - git
    - docker
    - docker-compose


- name: Test docker installation
  command: docker --version
  register: docker_version
  changed_when: false

- name: Creation d'un utilisateur '{{ user }}'
  when: user is defined
  user: name={{ user }} comment="Utilisateur Ansible" shell=/bin/zsh

- name: Ajout de la clef ssh
  when: user is defined
  authorized_key:
    user: "{{ user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

- name: Ajout de l'utilisateur '{{ user }}' au groupe 'docker'
  when: user is defined
  user: name={{ user }} groups=docker append=yes

- name: Créer l'arborescence du projet
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
    mode: '0755'
  loop:
    - "{{ wordpress_project_dir }}"
    - "{{ wordpress_project_dir }}/nginx"
    - "{{ wordpress_project_dir }}/nginx/conf.d"
    - "{{ wordpress_project_dir }}/certs"
    - "{{ wordpress_project_dir }}/wordpress"

- name: Générer le certificat auto-signé
  become: yes
  shell: |
    openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
    -keyout "{{ wordpress_project_dir }}/certs/selfsigned.key" \
    -out "{{ wordpress_project_dir }}/certs/selfsigned.crt" \
    -subj "/CN={{ ansible_host }}"
  args:
    creates: "{{ wordpress_project_dir }}/certs/selfsigned.crt"
