---
- name: Copier la configuration Nginx sur le server
  template:
    src: ../templates/default.conf.j2
    dest: "{{ wordpress_project_dir }}/nginx/default.conf"
    owner: "{{ new_user }}"
    group: "{{ new_user }}"
  tags: copy-nginx-config
  notify: Reload Nginx