---
- name: Installation des services
  hosts: vburton
  become: yes
  pre_tasks:
    - name: Détecter le système d'init (PID 1)
      command: cat /proc/1/comm
      register: init_comm
      changed_when: false  
  vars:
    user: ansible

  roles:
    - role: ../roles/common
      tags: ['first_install', 'common']
    
    - role: ../roles/webserver
      tags: ['first_install', 'deploy', 'webserver']

    - role: ../roles/wordpress
      tags: ['first_install', 'deploy', 'wordpress']
      
    - role: ../roles/stack
      tags: ['first_install', 'deploy', 'stack']

    - role: ../roles/wordpress_install
      tags: ['first_install', 'deploy', 'wordpress_install']