---
- name: Installation des services
  hosts: cloud1_app
  become: no
  vars:
    ansible_user: "{{ lookup('ini', 'ANSIBLE_USER type=properties file=../.env') }}"
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
  pre_tasks:
    - name: Détecter le système d'init (PID 1)
      command: cat /proc/1/comm
      register: init_comm
      changed_when: false  

  roles:
    - role: ../roles/certificats
      tags: ['install', 'certificats']
    
    - role: ../roles/compose
      tags: ['install', 'deploy', 'compose']

    - role: ../roles/database
      tags: ['install', 'deploy', 'database']
      
    - role: ../roles/wordpress
      tags: ['install', 'deploy', 'wordpress']

    - role: ../roles/phpmyadmin
      tags: ['install', 'deploy', 'phpmyadmin']

    - role: ../roles/nginx
      tags: ['install', 'deploy', 'nginx']
      
    - role: ../roles/wordpress_install
      tags: ['install', 'deploy', 'wordpress_install']

    - role: ../roles/new-images
      tags: ['new-images']